<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: lightblue;
        }

        h1 {
            color: black
        }

        h2 {
            color: black
        }
        .container{
            height: auto;
            width: 1000px;
            background-color: gray;
            color: black;
            border: 1px solid black;
            padding: 20px;
            margin: 0 auto;
        }
        .container:hover{
            background-color: antiquewhite;
        }
    </style>
</head>


<body>
    <h1>
        <center><u>Welcome Sir</u></center>
    </h1><br><br>
    <center><img src="static/photo.jpg" alt="photo" height="200px" width="200px" ></center>
    <h2>
        <center>You have entered wrong password</center>
        <center><p>for referal  <a href="https://www.youtube.com/watch?v=INnAQWiQcMo" target="_blank">Click here</a></p></center>
    </h2><br><br>
    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, dolores! Dignissimos accusamus ea nam
            harum laborum soluta labore blanditiis sint deserunt, aut tempore velit esse sed minima dolores libero iste
            excepturi consequuntur officia similique, repellat provident quibusdam perspiciatis! Autem, ea pariatur
            officia, blanditiis, quibusdam placeat nobis aperiam suscipit praesentium cumque molestias quae? Sed, fugiat
            tenetur cumque optio impedit consequuntur, illum pariatur, molestiae accusantium nemo tempore libero maiores
            dolorem temporibus. Inventore, odit officia nam mollitia libero est labore ipsum incidunt ipsam in ducimus
            magnam esse molestiae voluptatum sapiente atque dolor alias voluptatem deleniti, iste harum necessitatibus
            possimus. Placeat nesciunt velit in, laudantium a itaque magnam at ratione omnis? Quis tempore neque sunt
            odio dolorem exercitationem soluta, natus rerum voluptate, qui maxime sint esse numquam reiciendis
            provident, alias nam. Repellat, voluptate veritatis magnam eligendi culpa quam illum doloremque maiores fuga
            illo voluptatibus ad corrupti omnis quibusdam. At dolorem vel laudantium consequatur? Iste porro expedita,
            perspiciatis doloremque qui odit eligendi! Vitae labore deserunt consectetur aliquid repellendus nam
            similique tempora enim facere nihil ea dolorem vel eveniet repudiandae eaque asperiores est cumque laborum
            ratione porro, provident pariatur quas! Fuga earum sint, temporibus suscipit, perferendis minima voluptatem
            voluptatum unde tempora labore cumque laboriosam repellendus ex iste quasi nam necessitatibus hic. Quia,
            recusandae soluta corrupti illum placeat magni sequi mollitia ullam autem totam id, fugit nemo corporis aut
            exercitationem? Esse, molestias at unde voluptate a consequuntur quam earum dolorum voluptates delectus
            dolor eos vel non illum sunt adipisci doloremque voluptatum incidunt? Adipisci sint quo doloremque omnis
            ratione pariatur, voluptatum suscipit autem? Repellat animi eius alias numquam neque veritatis magnam
            molestias voluptatum quam, dolorem mollitia praesentium quod unde. Quas eligendi laboriosam eaque earum
            mollitia quod numquam voluptate! Quaerat ullam provident veniam esse optio cupiditate, minus quisquam
            delectus eligendi aliquid, laudantium porro omnis voluptatibus sit eius. Repellendus voluptas asperiores est
            omnis excepturi fugiat, praesentium ullam, eius dolores ea ad cumque! Dolor ex, recusandae quibusdam ducimus
            blanditiis pariatur similique dignissimos incidunt distinctio laudantium eius ea vel quasi veritatis
            adipisci quo temporibus? Nihil dolorum repellendus officiis vero cumque magnam similique, voluptate,
            voluptatum ipsum modi aliquid non sunt! Commodi nulla corporis alias voluptatibus quod provident, nesciunt
            totam vitae similique itaque aliquid nobis? Assumenda voluptates incidunt odit ab delectus eius non rem
            deserunt vitae reiciendis ipsam natus iure, ducimus maiores illum corporis iusto aliquid modi voluptas?
            Necessitatibus corporis adipisci hic alias explicabo soluta iste ipsum veritatis ab! Laborum minus sint
            voluptatum. Accusantium, veritatis quod? Iusto, labore exercitationem doloremque quaerat autem esse earum
            enim saepe sed aut. Nam dolor, nemo expedita ipsam qui quidem. Molestiae placeat ullam deleniti beatae.
            Voluptatibus mollitia dolore veniam reprehenderit quia velit earum amet ullam, iste dolores nostrum fugiat
            cupiditate doloribus blanditiis reiciendis illo inventore, fugit dolorem error illum. Corporis quaerat ipsam
            eaque est, autem consectetur at, dignissimos quod quo, ut nam molestiae quasi tenetur placeat doloribus
            dolorem suscipit deleniti et necessitatibus! Beatae, neque reiciendis eos consequatur similique corrupti
            voluptas quod vero itaque nobis, quibusdam cumque! Odio velit voluptatibus, eligendi sunt cumque nostrum
            doloribus? Dolore, sint vero provident possimus repellendus, harum laudantium esse velit tempore
            reprehenderit recusandae rerum. Corporis assumenda commodi, sed tempore quibusdam quis libero cupiditate,
            error quod quaerat excepturi nisi expedita tenetur laudantium nobis dolor impedit quos amet animi pariatur
            sequi accusantium dolorum neque! Iure totam deleniti explicabo rerum cupiditate? Consequatur architecto
            maiores corrupti omnis, ea modi ab quia praesentium doloribus dignissimos tempora delectus nihil
            voluptatibus rem sequi quaerat sint, aliquid doloremque. Magni, officia eligendi quae explicabo ex ab iure
            harum magnam itaque esse velit exercitationem dolorem omnis incidunt? Tempora, officiis velit amet dolorem
            reprehenderit dolores inventore eaque eum facere vero minima, aliquid enim error sit laborum quibusdam
            corporis ullam? Alias maiores, vero similique adipisci enim accusantium. Laboriosam commodi maxime doloribus
            qui aliquid voluptate accusantium non, iusto temporibus, optio corporis modi atque distinctio reiciendis
            obcaecati esse adipisci saepe! Omnis id magni expedita architecto! Doloremque fugiat consequatur et quidem
            ullam? Nostrum quo, porro quod ab veniam, illo aliquid quasi velit qui quaerat adipisci in quos quisquam
            dolore. Repellat sapiente nisi odit vero, iure maxime ratione nihil vel, blanditiis quo esse aliquid.
            Eveniet tenetur itaque reiciendis. Nesciunt, aperiam sapiente laboriosam nemo error nam provident! Dolore
            optio earum, deserunt esse inventore unde vitae nostrum rerum odio itaque, non perferendis mollitia commodi
            quam impedit cumque placeat animi, ex maxime. Repudiandae commodi inventore nobis molestiae quo tempora!
            Quaerat unde cumque eum velit distinctio provident consectetur voluptates vero eligendi ipsa sint in
            dignissimos esse inventore perferendis excepturi laudantium assumenda, expedita nulla, corrupti quod
            nesciunt. Voluptate unde libero mollitia nemo, facilis ab ipsam at fugit vitae asperiores sint velit veniam
            minima amet sed? Hic ratione beatae minus odio provident tempore qui voluptate repellendus, nisi error ad
            eaque debitis dolore deleniti laborum unde pariatur quas consequatur cupiditate! Aperiam quisquam vitae
            tenetur incidunt, itaque nemo labore velit dignissimos et, saepe repellat nesciunt eum alias expedita
            praesentium fugiat quas culpa sequi odio corrupti numquam iste iusto tempora nihil! Magnam aperiam atque,
            ipsa dolorum rem suscipit excepturi accusamus corrupti porro, culpa nesciunt delectus et veritatis eum,
            alias laudantium repellat? Et aliquam excepturi explicabo at ipsum qui quia, porro ipsam nisi magnam
            mollitia hic nesciunt eum, assumenda alias sint velit ratione nam! Impedit fuga dolorum expedita doloribus
            porro nulla iste, provident pariatur ea, soluta temporibus corrupti quae a exercitationem eum voluptates
            repellendus, quidem ab sunt numquam quaerat ipsum aut earum! Illum optio omnis soluta, nulla molestiae
            aliquam autem possimus modi voluptate nostrum eveniet quisquam, nobis error dolores dignissimos nesciunt..
        </p>
    </div>
</body>

</html>